.row
  .small-7.small-centered.columns
    %h1.text-center.dingbats-index •✴✳✵✾
.row
  .small-7.small-centered.text-center.columns
    %h2
      ✧
      = link_to 'patreon', 'https://www.patreon.com/spinnylights'
      ✧
.row
  .small-9.small-centered.text-center.columns
    %h2
      ✧
      = link_to 'twitter', 'https://twitter.com/spinnylights'
      ✧
      = link_to 'facebook', 'https://www.facebook.com/spinnylights'
      ✧
      = link_to 'soundcloud', 'https://soundcloud.com/user-887398465'
      ✧
      = link_to 'bandcamp', 'https://zoesparks.bandcamp.com'
      ✧
      = link_to 'youtube', 'https://www.youtube.com/channel/UCcf8YxODe5mg8f8PsyfRFWg'
      ✧
      
